<!doctype html>
<html>
<body>
    <p><a href="http://127.0.0.1:5000/memoryinfo">Memory info</a></p>
    <p><a href="http://127.0.0.1:5000/systemload">System load</a></p>
    <p><a href="http://127.0.0.1:5000/cpuinfo">CPU Info</a></p>
    <p><a href="http://127.0.0.1:5000/inodeinfo">index nodes info</a></p>
    <p><a href="http://127.0.0.1:5000/OpenPorts">open ports info(takes a while(does a scan)</a></p>
    <p><a href="http://127.0.0.1:5000/liveTCP_UDPconnections">Established TCP and UDP connections(ugly format)</a></p>
</body>
</html>